:root {
  --column-gap: 12px;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  height: 80px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(8, auto);
  align-items: center;
  justify-content: space-between;
  background-color: bisque;
}

.header-items {
  border: 1px solid black;
  border-radius: 3px;
  background-color: grey;
}

.input-search {
  flex-grow: 1;
}

.input-search__input {
  width: 100%;
}

.grid {
  display: grid;
  grid-gap: var(--column-gap);
  --cols: 12;
  grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
}

@media (max-width: 812px) {
  .grid {
    display: block;
  }

  .filter {
    display: none;
  }
}
