:root {
  --column-gap: 12px;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: bisque;
}

.item {
  background-color: burlywood;
  border-radius: 12px;
  padding: 16px;
  min-width: 0;
  width: 100%;
  --span: 1;
  grid-column: span var(--span);
}

.input-search {
  flex-grow: 1;
}

.input-search__input {
  width: 100%;
}

.main {
  background-color: springgreen;
  margin: 0 auto;
  min-height: calc(100vh - 64px);
}

.product-list {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.product-list__item {
  margin: 5px;
  height: 100px;
  background-color: deepskyblue;
}

.filter {
  background-color: chartreuse;
}

.footer {
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 32px;
  background-color: burlywood;
}

.grid {
  display: grid;
  grid-gap: var(--column-gap);
  --cols: 12;
  grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
}

@media (max-width: 812px) {
  .grid {
    display: block;
  }

  .filter {
    display: none;
  }
}
